*{
    margin: 0;
    padding: 0;
    color: #ffff;
}
body{
    padding: 10px;
    background-color: #212121;
}
header{
    background-color: rgb(23, 23, 23);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 64px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#logo_name{
    width:85%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 30px;
    padding-bottom: 10px;
}
#logo{
    border: none;
    background-color: rgb(23, 23, 23);
    padding-right: 10px;
}

#cname{
    color: #ffff;
}
#logout_block{
    padding-top: 10px;
    height: 10%;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
#logout{
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.5cm;
    height: 45px;
    width: 100px;
    background-color: rgb(23, 23, 23);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#logout div{
    color: #ffff;
    font-size: large;
}
#logout:hover{
    background-color: #c53030;
    transform: scale(1.05);
}
#main{
    display: flex;
    height: 97vh;
    width: 100%;
}
#sidebar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(23, 23, 23);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 20%;
    height: 97vh;
}
#task_filters{
    width: 80%;
    min-height: 80%;
    border-radius: 0.5cm;
    
}
#filters{
    padding-top: 10px;
    font-size: small;
    color: 	#747474;
    display: flex;
    flex-direction: column;
}
.box{
    border: none;
    margin-top: 10px;
    padding: 10px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    background-color: rgb(23, 23, 23);
}
.box svg{
    padding-right: 20px;
}
.active{
    box-shadow: 0 0 10px rgba(88, 88, 88, 0.4);
    background-color: #212121;
}
.box:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: #212121;
}
#mid{
    margin-left: 13px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(23, 23, 23);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 97vh;
}
#mid h1{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#task_area{
    max-height: 60%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
#task_block{
    margin-top: 20px;
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #212121;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(88, 88, 88, 0.4)
}
#task{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
}
#button_area{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#button_area button{
    border-radius: 10px;
    height: 35px;
    width: 30px;
    background-color: #212121;
    border: none;
}
#done:hover{
    background-color: rgb(40, 167, 69);
}
#delete:hover{
    background-color: #c53030;
}
#more:hover{
    background-color: #747474;
}
#details_block{
    margin-left: 13px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(23, 23, 23);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 30%;
    height: 97vh;
}
